# Created by 
# /usr/bin/cfgmaker --global "WorkDir: /var/www/mrtg" public@localhost


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  for Debian
WorkDir: /var/www/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir: /var/www/mrtg

Target[cpu]: `/opt/mrtg/mrtg-cpu` 
MaxBytes[cpu]: 100 
Options[cpu]: gauge, nopercent, growright 
YLegend[cpu]: CPU Loading (%) 
ShortLegend[cpu]: % 
LegendO[cpu]: CPU user:
LegendI[cpu]: CPU sys:
Title[cpu]: CPU Loading 
PageTop[cpu]: <H1>CPU Loading</H1> 

Target[ram]: `/opt/mrtg/mrtg-mem` 
MaxBytes[ram]: 2048000 
Title[ram]:Memory 
kmg[ram]:kB,MB 
kilo[ram]:1024 
ShortLegend[ram]: 
YLegend[ram]: Memory Cost
LegendI[ram]:
LegendO[ram]: Used Memory:
Options[ram]: growright,gauge
PageTop[ram]: <H1>Memory</H1> 
