[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Translator
Type=Application
Terminal=false
Icon[zh_CN]=/home/tualatrix/Sources/tools/translator/translator.png
Exec=/home/tualatrix/.local/bin/translator
Name[zh_CN]=Google Translator
Icon=/home/tualatrix/Sources/tools/translator/translator.png
